---
layout: default
---
<details>
    <summary class="ap-subtitle">Career Objective</summary>
    <div class="ap-career-objective" style="margin-top: 1em;">
        {{site.career-objective}}
    </div>
</details>


{% if site.collection_option['education']['visibility'] == true %}
<div class="ap-line"></div>
<details class="ap-block">
    <summary class="ap-subtitle">{{site.collection_option['education']['label']}}</summary>
    {% for education in site.education %}
    <div class="ap-education">
        <p class="ap-education-degree">{{education.degree}}</p>
        <p class="ap-education-institute">{{education.institute}}</p>
        <p class="ap-education-year">{{education.duration}}</p>
        <p class="ap-education-excerpt">{{education.excerpt}}</p>
    </div>
    {% endfor %}
</details>
{% endif %}


{% if site.collection_option['experience']['visibility'] == true %}
<div class="ap-line"></div>
<details class="ap-block">
    <summary class="ap-subtitle">{{site.collection_option['experience']['label']}}</summary>
    {% for experience in site.experience %}
    <div class="ap-experience">
        <p class="ap-experience-title">{{experience.title}}</p>
        <p class="ap-experience-year">{{experience.duration}}</p>
        <p class="ap-experience-excerpt">{{experience.excerpt}}</p>
    </div>
    {% endfor %}
</details>
{% endif %}


{% if site.collection_option['projects']['visibility'] == true %}
<div class="ap-line"></div>
<details>
    <summary class="ap-subtitle">{{site.collection_option['projects']['label']}}</summary>
    <div class="ap-projects-grid">
        {% for project in site.projects reversed %}
        <div class="ap-project">
            <a class="ap-project-title" href="{{project.project-url}}">{{project.title}}</a>
            <p class="ap-project-excerpt">{{project.excerpt}}</p>
            <img class="ap-project-image" src={{"assets/images/" | append: project.project-image}}
                alt="Project image for {{project.title}}">
        </div>
        {% endfor %}
    </div>
</details>
{% endif %}


{% if site.collection_option['publications']['visibility'] == true %}
<div class="ap-line"></div>
<details class="ap-block">
    <summary class="ap-subtitle">{{site.collection_option['publications']['label']}}</summary>
    {% for publication in site.publications reversed %}
    <div class="ap-publication">
        <a class="ap-publication-title" href="{{publication.pub-url}}">{{publication.title}}</a>
        <p class="ap-publication-year">{{publication.year}}</p>
        <p class="ap-publication-excerpt">{{publication.excerpt}}</p>
    </div>
    {% endfor %}
</details>
{% endif %}


{% if site.collection_option['achievements']['visibility'] == true %}
<div class="ap-line"></div>
<details class="ap-block">
    <summary class="ap-subtitle">{{site.collection_option['achievements']['label']}}</summary>
    {% for achievement in site.achievements reversed %}
    <div class="ap-achievement">
        <p class="ap-achievement-title">{{achievement.title}}</p>
        <p class="ap-achievement-year">{{achievement.year}}</p>
        <p class="ap-achievement-excerpt">{{achievement.excerpt}}</p>
    </div>
    {% endfor %}
</details>
{% endif %}


{% if site.collection_option['volunteerexperience']['visibility'] == true %}
<div class="ap-line"></div>
<details class="ap-block">
    <summary class="ap-subtitle">{{site.collection_option['volunteerexperience']['label']}}</summary>
    {% for experience in site.volunteerexperience %}
    <div class="ap-experience">
        <p class="ap-experience-title">{{experience.title}}</p>
        <p class="ap-experience-year">{{experience.duration}}</p>
        <p class="ap-experience-excerpt">{{experience.excerpt}}</p>
    </div>
    {% endfor %}
</details>
{% endif %}


{% if site.collection_option['skills']['visibility'] == true %}
<div class="ap-line"></div>
<details class="ap-block">
    <summary class="ap-subtitle">{{site.collection_option['skills']['label']}}</summary>
    {% for skill in site.skills %}
    <div class="ap-skill">
        <p class="ap-skill-category">{{skill.category}}</p>
        <p class="ap-skill-details">{{skill.details}}</p>
    </div>
    {% endfor %}
</details>
{% endif %}


{% if site.collection_option['certifications']['visibility'] == true %}
<div class="ap-line"></div>
<details class="ap-block">
    <summary class="ap-subtitle">{{site.collection_option['certifications']['label']}}</summary>
    {% for certificate in site.certifications reversed %}
    <div class="ap-certification">
        <a class="ap-certification-title" href="{{certificate.certificate_url}}"
            target="_blank">{{certificate.title}}</a>
        <p class="ap-certification-institute">{{certificate.institute}}</p>
        <p class="ap-certification-year">{{certificate.year}}</p>
        <p class="ap-certification-excerpt">{{certificate.excerpt}}</p>
    </div>
    {% endfor %}
</details>
{% endif %}
